body{

font-family: Arial, sans-serif;
font-size:13px;
}

#Wrapper{
  background-color: #fff;
  max-width:350px;
  margin-left:175px;
}

#TotalWrapper{
  margin-left:50px;
  width:700px;
  height:100%;
  border:2px solid black;

}

.InnerWrapper{

background-color: #C0C0C0;
border:2px solid #111;
width:100%;
border-radius: 5px;
margin-bottom:5px;
height:375px;

}

#ImageWrapper{
background-color:#3B3D40;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
width:100%;
display:inline-block;
color:#c0c0c0;
height:75px;
border-bottom:2px solid #111;
font-size:14px;
}

#ImageBorder{
width:25%;
float:left;
}


#imgStyle {
  width:40px;
  height:40px;
  border-radius:2px;
  margin-top: 20px;
  margin-left:30px;

}



#TextWrapper{
width:75%;
float:left;
height: 50px;
line-height: 1.5;
margin-top: 22px;

}


#NameSpan {
margin-left: 5px;

}

#EmailSpan{

margin-left: 5px;

}


.link{
text-align:center;
}

.link2{
text-align:center;
}


#MWrapper{

font-size:14px;
border:2px solid #111;
background-color: #3B3D40;
border-radius: 2px;
margin-top:20px;
color:#c0c0c0;
padding:7px 0;
position:absolute;
width:300px;
margin-left:23px;

}

#MSpan{
  font-size:14px;
  margin-left:15px;
  color:#c0c0c0;

}

#MButton{
border:none;
  background-color: transparent;
  float:right;

}

.MTeamButton{
cursor:pointer;
  border:none;
  transition: 0.4s;

}

#Icon3Div{
    font-size:16px;
}


#Icon3Div:hover{
  color:#c0c0c0;
}

.MTeamPanel{
  overflow:hidden;
font-size:14px;
max-height:0;
transition: max-height .3s ease-out;

}

#MPanelinkDiv{
  margin-left: 30px;
width:80%;
margin-top:10px;
margin-bottom:5px;
}


#Mlink{

color:#c0c0c0;
float:left;

}

#Mlink2{
color:#c0c0c0;
float:right;

}

#Mlink a {

  text-decoration:none;
  color:#c0c0c0;
  outline:none;

}

#Mlink2 a {

text-decoration:none;
color:#c0c0c0;
outline:none;


}

#Mlink a:hover {
color:#889195;
}

#Mlink2 a:hover {
color:#889195;
}


#TeamSpace{

font-size:14px;
border:2px solid #111;
background-color: #3B3D40;
border-radius: 2px;
margin-top:85px;
color:#c0c0c0;
padding:7px 0;
position:absolute;
margin-left:23px;
width:300px;
}

#TeamName{
  font-size:14px;
  margin-left:15px;
  color:#c0c0c0;

}

#Icon2Div{
  font-size:16px;


}

#Icon2Div:hover{
  color:#c0c0c0;
}

.TeamPanel{
overflow:hidden;
font-size:14px;
max-height:0;
transition: max-height .3s ease-out;

}

#Panelink{
outline:none;
text-decoration:none;
color:#c0c0c0;

}




#PanelinkDiv{
margin-left: 30px;
width:80%;
margin-top:10px;
margin-bottom:5px;

}

#Panelink:hover{
color:#889195;
}



#TeamButton{
  border:none;
  background-color: transparent;
  float:right;

}

.TeamSlide{
  cursor:pointer;
  border:none;
  transition: 0.4s;

}


#InputButton{

float:right;
margin-top:10px;
}




#FollowDiv{
width:70px;
border:2px solid #111;
background-color:#3B3D40;
padding:4px 2px;
border-radius:2px;


}

#UnfollowDiv{
  border:2px solid #111;
  background-color:#3B3D40;
  padding:3px 0;
  border-radius:2px;
  float:left;
  margin-left:90px;
}

#Follow{
font-size: 14px;
border:none;
background-color: transparent;
color:#c0c0c0;
outline:none;
margin-left:5px;
cursor:pointer;
}

#Unfollow{
font-size: 14px;
border:none;
background-color: transparent;
color:#c0c0c0;
outline:none;
margin-left:2px;
cursor:pointer;
}


#InputOneWrapper{
  position: relative;
  margin-bottom:50px;
  width: 400px;
  background-color: #fff;
  height:50px;
  line-height: 50px;
  margin-left:160px;
  margin-top:50px;

}

label{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #c0c0c0;
  transition: 0.2s all;
  cursor: text;
}



#InputOne{
width: 100%;
font-size:14px;
border:none;
border-color:transparent;
outline: none;
padding: 7.5px 0;
border-bottom:3px solid #3B3D40;
box-shadow: none;
color: #333;


}

#InputOne:invalid{
  outline:none;
}

#InputOne:focus, #InputOne:valid{
border-color:#3B3D40;
}


#InputOne:focus~label, #InputOne:valid~label{
  font-size:10px;
  top:-25px;
  color:#3B3D40;
}



#TextField{
width:300px;
margin-top:185px;
margin-left:25.5px;
}

#FieldsetDiv{
border:2px solid #111;
border-radius: 2px;

}

#InputDiv{
  width:25%;
  border:2px solid #111;
  background-color:#3B3D40;
  padding:4px 2px;
  border-radius:2px;
  margin-top:10px;
  float:left;

}

#TextSend{

  cursor:pointer;
  border:none;
  background-color: transparent;
  color:#c0c0c0;
  font-size:14px;
  width:100%;


}

#TextareaWrapper{
border:none;

}


#TextArea{

font-size:12px;
outline:none;
resize:none;
border:none;
width:100%;
background-color: transparent;

}
